<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bg"></div>
  <div class="content">
    <ion-avatar id="profile-picture">
      <img src="assets/img/Steve.jpg" />
    </ion-avatar>
    <div class="ion-text-center">
      <h1>Steve Manumpil</h1>
      <h3>00000021768 - CL</h3>
      <p class="ion-padding">
        Dalam mengerjakan aplikasi ini, saya dibantu oleh Cyntia Fanny dalam styling element seperti foto produk yang terlalu besar, serta juga memposisikan element ke tengah seperti foto profil di atas. Library yang digunakan dari luar tidak ada, semua yang dipakai sesuai dengan dokumentasi ionic dan angular, tidak lupa juga materi dari mata kuliah Mobile-Cross-Platform yang diajarkan oleh dosen.
    </div>
  </div>
</ion-content>
