<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="sidemenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="changeGrid()">
        <ion-icon name="{{gridIcon}}"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="!isGridChange; else gridCard">
    <ion-item *ngFor="let product of products" [routerLink]="['/','home','detail',product.id]">
      <ion-thumbnail slot="start">
        <ion-img [src]="product.foto"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>{{product.model}}</h2>
        <h3>{{product.harga | currency: 'IDR'}}</h3>
        <p>Tersedia: {{product.stok}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ng-template #gridCard>
    <ion-grid fixed>
      <ion-row>
        <ion-col *ngFor="let product of products" size="6" [routerLink]="['/','home','detail',product.id]">
          <ion-card>
            <img [src]="product.foto" class="gambar">
            <ion-card-header>
              <ion-card-title class="ion-text-nowrap">{{product.model}}</ion-card-title>
              <ion-card-subtitle>Rp. {{product.harga}}</ion-card-subtitle>
              <ion-card-subtitle>Tersedia: {{product.stok}}</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>
</ion-content>
